body { margin: 0 }
div { margin: 0 }

/** Paper sizes **/
body#patronData { 
  padding: 5mm;
  border: 1px;
  width: 86mm; 
  height: 53mm 
}

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
  body.creditcard            { width: 86mm}
}
